/* variables */

:root {
  --main-font: "Lato", sans-serif;
  --black: #111;
  --white: #fff;
  --red: #c70000;
}

/* global styles */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 1.4;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

[class$="__container"] {
  max-width: 120rem;
  width: 90%; /* cuando el ancho sea menos de 1200px va a ocupar el 90% */
  margin: 0 auto; /* centra el contenedor */
}

[class$="__heading"] {
  margin: 2rem 0;
}

/* header */
.header {
  margin-top: 2rem;
}

.header__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .header__flex {
    flex-direction: row;
    gap: unset;
    justify-content: space-between;
  }
}

.header__heading {
  font-size: 3rem;
}

.header__nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .header__nav {
    width: auto;
    flex-direction: row;
    gap: 6rem;
  }
}

.header__anchor {
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--black);
}

/* search */
.search {
  margin-top: 6rem;
  margin-bottom: 8rem;
}

@media (min-width: 768px) {
  .search {
    margin-top: 10rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form__label {
  font-weight: 700;
}

.form__select {
  padding: 0.6rem;
  border-style: solid;
  background-color: var(--white);
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .form {
    align-items: center;
  }

  .form__label,
  .form__select {
    width: 50%;
  }
}

/* main */
.main {
  margin-bottom: 10rem;
}

.main__heading {
  text-align: center;
  margin-bottom: 6rem;
}

@media (min-width: 768px) {
  .main__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 38rem));
    gap: 2.5rem;
    justify-content: center;
  }
}

.food-card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .food-card {
    margin-bottom: 0;
  }
}

.food-card__image {
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.food-card__image:hover {
  transform: scale(1.04);
}

.food-card__information {
  padding: 2rem;
}

.food-card__name {
  margin: 0;
}

.button {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  background-color: var(--white);
  border-style: solid;
  border-color: var(--black);
  border-radius: 1rem;
}
.button:hover {
  cursor: pointer;
}

/* modal */
.modal {
  position: fixed; /* mantener el contenedor del modal en una posición fija en la ventana */
  top: 0; /* Desde la parte superior de la ventana */
  left: 0; /* Desde la parte izquierda de la ventana */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__card {
  background-color: var(--white); /* Color de fondo del modal */
  width: 90%; /* Ancho del modal */
  height: 90%; /* Altura del modal */
  padding: 2rem;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .modal__card {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .modal__card {
    width: 40%;
    max-width: 60rem;
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.modal__title {
  margin-bottom: 0;
  font-size: 2.2rem;
  font-weight: 700;
}

.modal__body {
  overflow-y: scroll; /* Habilitar desplazamiento vertical en el cuerpo del modal */
}

.modal__image {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
  border-radius: 1rem;
}

.modal__text {
  text-align: left;
  margin-bottom: 1rem;
}

.modal__list {
  list-style: none; /* Eliminar viñetas de la lista */
  padding-left: 0;
}

.modal__list-item {
  padding: 1rem;
  border: solid 1px #e1e1e1;
}

.modal__footer {
  display: flex;
  gap: 2rem;
}

.button--favorite {
  background-color: var(--black);
  color: var(--white);
  border-style: none;
}

.button--close {
  background-color: var(--red);
  color: var(--white);
  border-style: none;
}

.hidden {
  display: none;
}
